.cont {
   text-align: center; 
}

.comamnd-button {
    font:bold;
    font-size: large;
    margin: 5px;
}

.input {
    font-family: Courier, monospace;
    font-weight: 600;
    font-size: larger;
    width: 200px;
    margin: 5px;
}

#resultTex {
    border-width: 1px;
    color: black;
    font-size:larger;

    padding: 5px;
    margin: 5px;
}

.tex {
    color: blue;
}